<div class="pagetitle">
    <a href="/hero">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<td class="data">
    <input type="submit" name="add" id="add" value="提交">
</td>
<table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr class="title">
        <td colspan="4">英雄固定参数配置</td>
    </tr>
    <tr>
        <td class="title">
            名称
        </td>
        <td class="data">
            <input type="text" name="name" id="name" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            类型
        </td>
        <td class="data">
            <select name="type" id="type">
                <option value="1">近战－物理</option>
                <option value="2">近战－法系</option>
                <option value="3">远程－物理</option>
                <option value="4">远程－法系</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            初始星级
        </td>
        <td class="data">
            <select name="star_lvl" id="star_lvl">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            品质
        </td>
        <td class="data">
            <select name="quality" id="quality">
                <option value="1">白</option>
                <option value="2">绿</option>
                <option value="3">蓝</option>
                <option value="4">紫</option>
                <option value="4">橙</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            元素属性
        </td>
        <td class="data">
            <select name="element_type" id="element_type">
                <option value="1">红</option>
                <option value="2">黄</option>
                <option value="3">蓝</option>
                <option value="4">绿</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            速度
        </td>
        <td class="data">
            <input type="text" name="speed" id="speed" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            行动力
        </td>
        <td class="data">
            <select name="move_power" id="move_power">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            攻击范围
        </td>
        <td class="data">
            <input type="text" name="attack_range" id="attack_range" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            路径加成
        </td>
        <td class="data">
            <input type="text" name="move_addition" id="move_addition" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            主动技能ID
        </td>
        <td class="data">
            <select name="initiative_skill_id" id="initiative_skill_id">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            被动技能ID
        </td>
        <td class="data">
            <select name="passive_skill_id" id="passive_skill_id">
                <option value="1">1</option>
                <option value="2">2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            描述
        </td>
        <td class="data">
            <textarea name="description" id="description" cols="45" rows="5"></textarea>
        </td>
    </tr>
</table>
<table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr class="title">
        <td colspan="4">英雄初始/成长属性配置</td>
    </tr>
    <tr>
        <td class="title">
            生命值
        </td>
        <td class="data">
            <input type="text" name="life" id="life" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="life_add" id="life_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            攻击力
        </td>
        <td class="data">
            <input type="text" name="attack" id="attack" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="attack_add" id="attack_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            法术强度
        </td>
        <td class="data">
            <input type="text" name="spell" id="spell" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="spell_add" id="spell_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            护甲
        </td>
        <td class="data">
            <input type="text" name="armor" id="armor" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="armor_add" id="armor_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            魔抗
        </td>
        <td class="data">
            <input type="text" name="magic_resistance" id="magic_resistance" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="magic_resistance_add" id="magic_resistance_add" value="" />
        </td>
    </tr>

    <tr>
        <td class="title">
            物理暴击等级
        </td>
        <td class="data">
            <input type="text" name="attack_crit_lvl" id="attack_crit_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="attack_crit_lvl_add" id="attack_crit_lvl_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            物理暴击伤害加成等级
        </td>
        <td class="data">
            <input type="text" name="attack_crit_damage_addition_lvl" id="attack_crit_damage_addition_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="attack_crit_damage_addition_lvl_add" id="attack_crit_damage_addition_lvl_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            闪避等级
        </td>
        <td class="data">
            <input type="text" name="avoid_lvl" id="avoid_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="avoid_lvl_add" id="avoid_lvl_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            命中等级
        </td>
        <td class="data">
            <input type="text" name="hit_lvl" id="hit_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="hit_lvl_add" id="hit_lvl_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            吸血等级
        </td>
        <td class="data">
            <input type="text" name="suck_blood_lvl" id="suck_blood_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="suck_blood_lvl_add" id="suck_blood_lvl_adjust_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            主动技能能量减少等级
        </td>
        <td class="data">
            <input type="text" name="initiative_skill_energy_less_lvl" id="initiative_skill_energy_less_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="initiative_skill_energy_less_lvl_add" id="initiative_skill_energy_less_lvl_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            被动技能能量减少等级
        </td>
        <td class="data">
            <input type="text" name="passive_skill_energy_less_lvl" id="passive_skill_energy_less_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="passive_skill_energy_less_lvl_add" id="passive_skill_energy_less_lvl_add" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            治疗技能效果提升等级
        </td>
        <td class="data">
            <input type="text" name="skill_cure_lvl" id="skill_cure_lvl" value="" />
        </td>
        <td class="title">
            成长值
        </td>
        <td class="data">
            <input type="text" name="skill_cure_lvl_add" id="skill_cure_lvl_add" value="" />
        </td>
    </tr>
</table>

</form>