<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/common.css" type="text/css" />
    <link rel="stylesheet" href="/css/jquery-ui/jquery-ui.css" type="text/css" />
    <link rel="stylesheet" href="/css/timepicker.css" type="text/css" />
    <script type="text/javascript" src="/js/jquery-1.4.1.js"></script>
    <script type="text/javascript" src="/js/jquery-ui.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-slide.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="/js/common.js"></script>
</head>
<body style="background-color:#FFFFFF; padding:10px;">
<%- body%>
</body>
</html>