<script type="text/javascript">
    $(function () {
        $('#begin_date').datetimepicker();
        $('#end_date').datetimepicker();
    });
</script>
<div class="pagetitle">
    <a href="/item_store">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<table width="80%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title1">
            道具ID
        </td>
        <td class="data1">
           <input type="text" name="item_id" id="item_id" value="" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            道具名称
        </td>
        <td class="data1">
            <input type="text" name="name" id="name" value="" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            排序编号
        </td>
        <td class="data1">
            <input type="text" name="sort_num" id="sort_num" value="" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            性别限制
        </td>
        <td class="data1">
            <select name="sex" id="sex">
                <option value="0">无</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title1">
            图片ID
        </td>
        <td class="data1">
            <input type="text" name="pic_id" id="pic_id" value="" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            佩戴位置
        </td>
        <td class="data1">
            <select name="pos" id="pos">
                <option value="0">手形</option>
                <option value="1">麻将桌</option>
                <option value="2">指甲</option>
                <option value="3">食指</option>
                <option value="4">中指</option>
                <option value="5">无名指</option>
                <option value="6">手腕</option>
                <option value="7">纹身</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title1">
            购买货币类型
        </td>
        <td class="data1">
            <select name="currency_type" id="currency_type">
                <option value="0">金贝</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title1">
           价格
        </td>
        <td class="data1">
           <input type="text" name="price" id="price" value="1" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            等级限制
        </td>
        <td class="data1">
            <input type="text" name="lvl_limit" id="lvl_limit" value="0" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            道具描述
        </td>
        <td class="data1">
            <textarea name="description" id="description" cols="45" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td class="title1">
            上架时间
        </td>
        <td class="data1">
             <input type="text" name="begin_date" id="begin_date" value="" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            下架时间
        </td>
        <td class="data1">
            <input type="text" name="end_date" id="end_date" value="" />
        </td>
    </tr>
    <tr>
        <td class="title1">
            是否上架
        </td>
        <td class="data1">
            无效<input type="radio" name="is_valid" id="is_valid1" value="0" />
            有效<input type="radio" name="is_valid" id="is_valid2" value="1" checked="checked" />
        </td>
    </tr>
    <tr>
        <td class="title1">

        </td>
        <td class="data1">
            <input type="submit" name="submit" id="submit" value="提交" />
        </td>
    </tr>
</table>
</form>