<form id="form1" name="form1" method="post">
    <input type="submit" name="submit" id="submit" value="导出配置表" />
</form>
<td class="data">
    <textarea name="message" id="message" cols="100" rows="15"><%-message%></textarea>
</td>