<div class="pagetitle">
     <a href="/config">返回</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">兑换方式</td>
        <td class="title">倍率</td>
        <td class="title">是否开放</td>
    </tr>
<tr>
    <td class="data">通宝卡兑换金贝</td>
     <td class="data">1个通宝卡兑换 <input type="text" name="chips" id="chips" value="<%-results[0].count%>" /> 金贝</td>
    <td class="data"><input name="box1" type="checkbox" id="box1" <%if(results[0].is_open){%>checked="checked"<%}%> value="1" /></td>
</tr>
<tr>
    <td class="data">金贝兑换通宝卡</td>
     <td class="data"><input type="text" name="diamond" id="diamond" value="<%-results[1].count%>" /> 金贝兑换1个通宝卡</td>
    <td class="data"><input name="box2" type="checkbox" id="box2" <%if(results[1].is_open){%>checked="checked"<%}%> value="1" /></td>
</tr>
<tr>
    <td colspan="3" align="center"><input type="submit" name="submit" id="submit" value="提交" /></td>
</tr>
</table>
</form>