<div class="pagetitle">
    <a href="/Dungeon">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<td class="data">
    <input type="submit" name="add" id="add" value="提交">
</td>
<table id="StageDetail" width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98" visiable="false">

    <tr>
        <td class="title">
            章节编号
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Id" id="Dungeon_Id" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节名称
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Name" id="Dungeon_Name" value="" />
        </td>
    </tr>

    <tr>
        <td class="title">
            等级限制
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Lvl_Limit" id="Dungeon_Lvl_Limit" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节类型
        </td>
        <td class="data">
            <select name="Dungeon_Type" id="Dungeon_Type">
                <option value="1" >PVE</option>
                <option value="3" >地精宝库</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            开放日期
        </td>
        <td class="data">
            <input type="text" name="Open_Day" id="Open_Day" value="" />格式：1,3,5
        </td>
    </tr>
    <tr>
        <td class="title">
            章节描述
        </td>
        <td class="data">
            <textarea name="Dungeon_Description" id="Dungeon_Description" value="" wrap="virtual" rows="5"></textarea>
        </td>
    </tr>
    <tr>
        <td class="title">
            章节可攻打次数
        </td>
        <td class="data">
            <input type="text" name="Attack_Times_Limit" id="Attack_Times_Limit" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            章节地图素材
        </td>
        <td class="data">
            <input type="text" name="Dungeon_Resource_Url" id="Dungeon_Resource_Url" value="" />
        </td>
    </tr>
</table>

</form>