<div class="pagetitle">
    <a href="/version">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>

<form id="form1" name="form1" method="post" enctype="multipart/form-data">
    <td class="data">
        <input type="submit" name="add" id="add"  value="提交">
    </td>

    <table id="resource" width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98" visiable="false">
        <tr>
            <td class="title">
                版本名称
            </td>
            <td class="data">
                <input type="text" name="Version_Name" id="Version_Name" value="<%-results.Version_Name%>" />
            </td>
        </tr>
        <tr>
            <td class="title">
                强制更新
            </td>
            <td class="data">
                <input type="radio" value="1" name="Is_Force_Update" id="Is_Force_Update"
                        <%if(results.Is_Force_Update == 1){%>checked="true" <%}%>>是
                <input type="radio" value="0" name="Is_Force_Update" id="Is_Force_Update"
                       <%if(results.Is_Force_Update == 0){%>checked="true" <%}%>>否
            </td>
        </tr>
        <tr>
            <td class="title">
                更新地址
            </td>
            <td class="data">
                <input type="text" name="Update_Url" id="Update_Url" value="<%-results.Update_Url%>" />
            </td>
        </tr>
        <tr>
            <td class="title">
                版本序号
            </td>
            <td class="data">
                <input type="text" name="Version_Order" id="Version_Order" value="<%-results.Version_Order%>" />
            </td>
        </tr>
        <tr>
            <td class="title">
                是否生效
            </td>
            <td class="data">
                <input type="radio" value="1" name="Enable" id="Enable"
                       <%if(results.Enable == 1){%>checked="true" <%}%>>是
                <input type="radio" value="0" name="Enable" id="Enable"
                       <%if(results.Enable == 0){%>checked="true" <%}%>>否
            </td>
        </tr>
    </table>

</form>
