<div class="pagetitle">
    <a href="/LoggerBI">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
    <td class="data">
        <input type="submit" name="add" id="add" value="提交">
    </td>

    <table id="BI" width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98" visiable="false">
        <tr>
            <td class="title">
                BI名称
            </td>
            <td class="data">
                <input type="text" name="BI_Name" id="BI_Name" value="" />
            </td>
        </tr>
        <tr>
            <td class="title">
                脚本内容
            </td>
            <td class="data">
                <textarea name="BI_Script" id="BI_Script" value="" wrap="virtual" cols = "100" rows="5"></textarea>

            </td>
        </tr>
        <tr>
            <td class="title">
                参数
            </td>
            <td class="data" >
                <input type="text" name="BI_ParamList" id="BI_ParamList" value="" />
            </td>

        </tr>
        <tr>
            <td class="title">
                生效
            </td>
            <td class="data">
                <input type="radio" name="Enable" id="Enable" value="1" checked="true"/>是
                <input type="radio" name="Enable" id="Enable" value="0" />否
            </td>
        </tr>
    </table>

</form>

