<div class="pagetitle">
    <a href="/Avatar/AddAvatar">添加头像(框)</a>
</div>
<table width="99%" border="0" align="center" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr>
        <td class="title">编辑</td>
        <td class="title">编号</td>
        <td class="title">名称</td>
        <td class="title">类型</td>
        <td class="title">创建日期</td>
    </tr>
    <%
    results.forEach(function(item){
    %>
    <tr>
        <td class="data"><a href="/Avatar/EditAvatar?id=<%-item.Avatar_Id%>"><input type="submit" name="submit" id="submit" value="编辑" /></a></td>
        <td class="data"><%-item.Avatar_Id%></td>
        <td class="data"><%-item.Avatar_Name%></td>
        <td class="data"><%if(item.Avatar_Type == 1){%>头像<%}else if(item.Avatar_Type == 2){%>头像框<%}%></td>
        <td class="data"><%-item.Create_Date.format('yyyy-MM-dd hh:mm:ss')%></td>
    </tr>
    <%
    });
    %>
</table>