<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post" >
    <div id="connect" class="pagetitle" >
        IP:<input type="text" name="server" id="server" value="127.0.0.1" />
        端口：<input type="text" name="port" id="port" value="5001" />
        <input type="submit" name="submit" id="submit" value="更新配置表" />
        <a href="/shut/restartServer">重启服务器</a>
    </div>
</form>