
<div class="pagetitle">
    <a href="/FarFight">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
    <td class="data">
        <input type="submit" name="add" id="add" value="提交">
    </td>
    <table id="FarFightDetail" width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98" visiable="false">

        <tr>
            <td class="title">
                远征关卡编号
            </td>
            <td class="data">
                <input type="text" name="FarFight_Id" id="FarFight_Id" value="" />
            </td>
        </tr>
        <tr>
            <td class="title">
                远征关卡名称
            </td>
            <td class="data">
                <input type="text" name="FarFight_Name" id="FarFight_Name" value="" />
            </td>
        </tr>
        <tr>
            <td class="title">
                关卡类型
            </td>
            <td class="data">
                <select name="FarFight_Type" id="FarFight_Type">
                    <option value="1" >小关卡</option>
                    <option value="2" >档次1</option>
                    <option value="3" >档次2</option>
                    <option value="4" >档次3</option>
                    <option value="5" >档次4</option>
                    <option value="6" >档次5</option>
                </select>
            </td>
        </tr>
        <tr>
            <td class="title">
                等级区间
            </td>
            <td class="data">
                <input type="text" name="Min_Lvl" id="Min_Lvl" value="" /> - <input type="text" name="Max_Lvl" id="Max_Lvl" value="" />
            </td>
        </tr>
    </table>

</form>