<div class="pagetitle">
    <a href="/lottery">返回列表</a>
</div>
<div class="message">
    <%-message%>
</div>
<form id="form1" name="form1" method="post">
<td class="data">
    <input type="submit" name="add" id="add" value="提交">
</td>
<table width="99%" border="0" cellpadding="0" cellspacing="1" bgcolor="#c0de98">
    <tr class="title">
        <td colspan="4">奖池配置</td>
    </tr>
    <tr>
        <td class="title">
            名称
        </td>
        <td class="data">
            <input type="text" name="pool_Name" id="pool_Name" value="" />
        </td>
    </tr>
    <tr>
        <td class="title">
            在掉落列表显示
        </td>
        <td class="data">
            <input type="radio" value="0" name="is_Display" Id="is_Display">不显示
            <input type="radio" value="1" name="is_Display" Id="is_Display">显示
        </td>
    </tr>
    <tr>
        <td class="title">
            奖池类型
        </td>
        <td class="data">
            <select name = "Pool_Type" id = "Pool_Type">
                <option value=""></option>
                <option value="1" selected="selected">道具</option>
                <option value="2" >商品</option>
            </select>
        </td>
    </tr>
    <tr>
        <td class="title">
            描述
        </td>
        <td class="data">
            <textarea name="description" id="description" cols="45" rows="5"></textarea>
        </td>
    </tr>

</table>

</form>