<style type="text/css">
    input{width:60px;}
</style>
<div class="pagetitle">
     <a href="/config">返回</a>
</div>
<div class="message">
    <!--<a href="/config/regions/maker">抢庄模式</a> |-->
    <a href="/config/regions/deposit">普通场</a> |
    <!--<a href="/config/regions/match">比赛模式</a>-->
</div>